# build file
build/
bin/
*/target/

# temp file
core/temp/

# db file
**/data/*

# idea
.idea/

# Compiled class file
*.class

# Log file
core/logs/
server/logs/
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

