[Unit]
Description=LynxDB Server
After=network.target

[Service]
ExecStart=/root/lynxdb-v1.0.0-alpha/start-server.sh
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=lynxdb.service