<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <!-- 定义日志格式 -->
        <Property name="binaryLog.pattern">%d{YYYY-MM-dd HH:mm:ss.SSS} [%18t] [%5level] [%15logger] -- %msg%n</Property>
        <!-- 定义文件名变量 -->
        <Property name="file.err.filename">binaryLog/err.binaryLog</Property>
        <Property name="file.err.pattern">binaryLog/err.%i.binaryLog.gz</Property>
    </Properties>
    <!-- 定义Appender，即目的地 -->
    <Appenders>
        <!-- 定义输出到屏幕 -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- 日志格式引用上面定义的log.pattern -->
            <PatternLayout pattern="${binaryLog.pattern}" />
        </Console>
        <!-- 定义输出到文件,文件名引用上面定义的file.err.filename -->
        <Console name="err" target="SYSTEM_OUT">
            <PatternLayout pattern="${binaryLog.pattern}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- 对info级别的日志，输出到console -->
            <AppenderRef ref="console" level="info" />
            <AppenderRef ref="err" level="error" />
        </Root>
    </Loggers>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" level="debug" />
        </Root>
    </Loggers>
</Configuration>